  <div class="loginbackground">

  <div class="login-container">
    <h2>Login</h2>
    <div class="login-circle">
      <img src="https://picsum.photos/200/300" alt="Random Photo" class="avatar" />
    </div>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" >
      
      <input  type="text"  class="custom-border" name="Username" ngModel placeholder="Enter username in letters" required pattern="^[a-zA-Z_]+$" #Username="ngModel" style="text-transform: uppercase;" />
      <div *ngIf="Username.invalid && Username.touched" style="color: blue ; font-size: 0.9em;">
      Username can only contain letters and underscore.
      </div>
      
       <div class="'password-container">
       <input [type]="showPassword ? 'text': 'password'" 
        class="custom-border" 
        name="password"
         ngModel placeholder="ENTER PASSWORD " 
         required minlength="5"
          #password="ngModel"/>
          
        <!-- <button
        type="button"
        class="toggle-password"
        (click)="togglePasswordVisibility()"
        aria-label="Toggle password visibility"
        >
        {{ showPassword ? '🙈' : '👁️' }}
        show password
      </button> -->

        <span
    class="icon-inside-input"
    (click)="togglePasswordVisibility()"
    title="Show/Hide Password"
  >
    🔒
  </span>
      </div >

      
      
      <div *ngIf="password.errors?.['minlength'] " style="color: blue;">
        Password should be of atleast 5 
      </div>

      <button type="submit" [disabled]="!loginForm.valid">Login</button>
      
  
  <div *ngIf="loggedIn" class="success-message">
      Logged in!
    
  
 </div>
  <div *ngIf="!loggedIn && errorMessage" class="error-message">
     
   {{errorMessage}}
  </div>

  

  
</form>
</div>
</div>


